@model IEnumerable<Category>
@{
    ViewData["Title"] = "Hej";
    ViewBag.Title = "Główna";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        @foreach (var category in Model)
        {
            <li>
                @category.Name <i>-</i> @category.Description;
            </li>
        }
    </ul>
</div>
